header {
  height: 100vh;
  background: url(/images/image.jpg);
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image within the element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed;
}

nav {
  backdrop-filter: blur(10px);
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
  color: white;
}

#sec-header {
  position: relative;
  width: max-content;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#sec-header::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: white;
  bottom: -10px;
  left: 0;
  border-radius: 24px;
  transition: 300ms ease;
}

#sec-header:hover::after {
  width: 100%;
}

.nav-link {
  font-size: 16px;
  transition: 300ms ease;
  opacity: 0.5;
}

.nav-link:hover {
  color: white;
  font-weight: 400;
  opacity: 1;
}

.nav-link {
  position: relative;
  width: max-content;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  background-color: white;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  transition: 300ms ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-brand {
  font-size: 1.4rem !important;
}

.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}

#navcta {
  padding: 8px 24px;
  border: solid white 1px;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  font-weight: 600;
  border-radius: 24px;
  margin: 8px;
  position: relative;
  transition: 300ms ease;
}

#navcta:hover {
  background-color: white;
  color: var(--bg-color);
  transform: translateY(-7px);
  box-shadow: 0px 13px 41px 0px rgba(255, 255, 255, 0.4);
  color: #212122;
}

.devider {
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: white;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  border-radius: 300px;
  margin-bottom: 6px !important;
}

.skills {
  margin-top: 1.4rem;
}

.card-img {
  height: 300px;
  border-radius: 12px 12px 0 0;
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image within the element */
  object-fit: cover;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}
